body {
	border-right: 1px solid black;
	margin-right: 200px;

	padding-left: 20px;
	padding-right: 20px;

	/* styles from fair.pm theme */
	font-family: "Mona Sans", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.7;
	text-rendering: geometricPrecision;
}

/* styles from fair.pm theme */
.site {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
#page .site-header {
  background: #0073aa;
  align-items: center;
}
.site-header .site-branding {
  display: flex;
  align-items: last baseline;
  gap: 1rem;
  flex-wrap: wrap;
}
.site-header ul {
	list-style: none;
}
.site-header a {
	color: #fff;
}
body a {
  color: #0049d1;
  text-decoration: underline;
  text-underline-offset: 0.275rem;
  transition: all 150ms;
  text-decoration-thickness: 4px;
}
body a:hover {
  text-decoration-thickness: 8px;
}

/* other edits */
.daygroup {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.channelgroup {
	margin-left: 1.5rem;
}
.channelgroup .entry {
	margin-left: 1.5rem;
}








h1 {
	margin-top: 0px;
	padding-top: 20px;
	font-weight: normal;
	letter-spacing: -2px;
	text-transform: lowercase;
	text-align: right;
	color: grey;
}

.admin {
	text-align: right;
}

h2 {
	font-weight: normal;
	color: #200080;
}
h3 {
	font-weight: normal;
	background-color: ##0049d1;
	padding: 6px 1ch;
}
h3 a {
	color: #fff;
}
h4 {
	font-weight: bold;
}
h4 a {
	color: inherit;
}

img.face { display: none; }

.entry {
	margin-bottom: 2em;
}
.entry .date {
	color: grey;
	font-size: .9em;
}
.entry .date a {
	color: inherit;
}

.sidebar {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 200px;

	margin-left: 0px;
	margin-right: 0px;
	padding-right: 0px;

	padding-top: 20px;
	padding-left: 0px;

	font-size: 85%;
}
.sidebar h2 {
	font-size: 110%;
	font-weight: bold;
	padding-left: 5px;
	margin-left: 0px;
}
.sidebar ul {
	padding-left: 1em;
	margin-left: 0px;
	list-style-type: none;
}
.sidebar ul li:hover {
	color: grey;
}
.sidebar ul li a {
        text-decoration: none;
}
.sidebar ul li a img {
        border: 0;
}
.sidebar p {
	border-top: 1px solid grey;
	margin-top: 30px;
	padding-top: 10px;
	padding-left: 5px;
}
.sidebar .message {
    cursor: help;
    border-bottom: 1px dashed red;
}
.sidebar a.message:hover {
    cursor: help;
	background-color: #ff0000;
	color: #ffffff !important;
	text-decoration: none !important;
}

